body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #39CCCC;
    margin-top: 10%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}